.navbar-form-controll{
  width: 800px;
}

a {
  color: #bd0926 !important;
}

#content .single-entry-header h1.entry-title {
  color: #bd0926 !important;
}

input#submit:hover {
  background-color: #bd0926 !important;
}

#content .page-entry-header h1.entry-title {
  color: #bd0926 !important;
}

.searchsubmit:hover {
  background-color: #bd0926 !important;
}

.autorLine{
  font-style: italic;
  font-size: 12;
}

#languageBar{
  float: right;
}